code/dvt-util-common-scheduler/src/main/mule/cron-desk-allocation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
	<flow name="desk-allocation-schedule" doc:id="bde7ade0-b8b6-4f24-818f-c31c73599551">
		<scheduler doc:name="cron" doc:id="6958f32c-37d1-4712-bb57-fda8d74cefe9">
			<scheduling-strategy>
				<cron expression="${desk-allocation.cron.expression}" timeZone="${desk-allocation.cron.timezone}" />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="set variables" doc:id="f17ada32-649a-4596-9bd0-61f73f784ea1">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="scheduleId" ><![CDATA[%dw 2.0
output application/java
---
p('desk-allocation.schedule-id')]]></ee:set-variable>
				<ee:set-variable variableName="requestDate" ><![CDATA[%dw 2.0
output application/json
---
(now() >> p('common-scheduler.timezone')) as Date + |P1D|]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Update logMessage" doc:id="746dff40-ddcb-4d35-a59e-960da3318079">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="logMessage"><![CDATA[%dw 2.0
output application/java
---
{
	message: "FLOW: desk-allocation",
	content: "Initializing desk-allocation job."
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="Logger Flow" doc:id="56b318c1-06bd-4b00-900c-4fa332241978" config-ref="json-logger-config" message="#[vars.logMessage.message]" tracePoint="FLOW" priority='#["${json.logger.priority.flow}"]' category="${json.logger.category.flow}">
			<json-logger:content><![CDATA[#[vars.logMessage.content]]]></json-logger:content>
		</json-logger:logger>
		<flow-ref doc:name="Flow Ref: trigger-job-sub-flow" doc:id="013bd8cd-bbce-413c-bcd0-2c765e16c157" name="trigger-job-sub-flow" />
		<ee:transform doc:name="Update logMessage" doc:id="68cd6a51-bbc9-43e9-bfb4-762044403f71" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
{
	message: "FLOW: desk-allocation",
	content: "Triggered desk-allocation job."
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="Logger Flow" doc:id="fae33a3c-e2d5-421e-916b-a7c750695f1d" config-ref="json-logger-config" message="#[vars.logMessage.message]" tracePoint="FLOW" priority='#["${json.logger.priority.flow}"]' category="${json.logger.category.flow}" >
			<json-logger:content ><![CDATA[#[vars.logMessage.content]]]></json-logger:content>
		</json-logger:logger>
	</flow>
</mule>
