code/dvt-prc-intention/src/main/mule/impl-cancel-booking.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
	
	<flow name="cancel-booking-main-flow" doc:id="af05304e-7804-42c4-8df3-a97982c44ac4" >
		<ee:transform doc:name="set variables" doc:id="ee823d13-f7b7-4f12-9e4a-b735f998ce16" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="inPayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="date" ><![CDATA[%dw 2.0
output application/java
---
payload.dates[0]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Ref: get-employee-by-email-sub-flow" doc:id="1cac7197-1d60-4aba-bde5-5b91ce268887" name="get-employee-by-email-sub-flow" target="employee"/>
		<try doc:name="Try" doc:id="50defecd-2010-431a-801f-9fd7e756ec9b" >
			<flow-ref doc:name="Flow Ref: get-intention-by-employee-id-sub-flow" doc:id="89d4e528-2520-4612-b7b8-8d979dda1489" name="get-intention-by-employee-id-sub-flow" target="intention" />
			<ee:transform doc:name="Cancellation" doc:id="fe64f877-f315-4393-9d1d-b612131c8c54" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	status: "CANCELLED"
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<flow-ref doc:name="Flow Ref: update-intention-sub-flow" doc:id="ef4e8eba-9225-4ec5-91e6-90cb7a3ed8fa" name="update-intention-sub-flow"/>
			<flow-ref doc:name="Flow Ref: get-availability-sub-flow" doc:id="b30da267-e78a-4f66-9d51-963caf427aea" name="get-availability-sub-flow" />
			<flow-ref doc:name="Flow Ref: increase-availability-sub-flow" doc:id="c032349c-e7a7-47ec-93b1-d52e41c50aea" name="increase-availability-sub-flow" />
			<error-handler >
				<on-error-continue enableNotifications="false" logException="false" doc:name="On Error Continue" doc:id="63fa0a1b-be10-47ce-97b1-79d88a468ce3" type="HTTP:NOT_FOUND">
					<ee:transform doc:name="Transform Message" doc:id="2e4e9c0a-8204-4e7d-a0df-d99ea8554bd4" >
						<ee:message >
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="intention" ><![CDATA[%dw 2.0
output application/json
---
{
    code: "Success",
    message: "You have not requested a hotdesk for $(vars.date)."
}]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</on-error-continue>
			</error-handler>
		</try>
		<ee:transform doc:name="Response" doc:id="0af8f345-226a-4524-90ac-d4a17c52d5a7">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
var response = 
	if (vars.intention.message != null)
		vars.intention.message
	else 
		"Your booking for $(vars.date) has been cancelled."
---
{
    code: "Success",
    message: response
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
	</flow>
	<sub-flow name="update-intention-sub-flow" doc:id="93b50582-82ba-4741-908e-d953b590e0a8" >
		<ee:transform doc:name="Build Request" doc:id="7131c4cb-ccf1-4f64-b15a-0872aff442c8">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="request"><![CDATA[%dw 2.0
output application/java
var protocol = lower(p('dvt-sys-bookings.protocol'))
var host = p('dvt-sys-bookings.host')
var port = p('dvt-sys-bookings.port')
var path = "intentions/{id}"
---
{
	protocol: protocol,
	method: "PATCH",
	endpoint: "$(protocol)://$(host):$(port)/$(path)",
	transportHeaders: {
		client_id: p('secure::dvt-sys-bookings.header.client_id'),
		client_secret: p('secure::dvt-sys-bookings.header.client_secret')
	},
	uriParameters: {
		id: vars.intention.id[0]
	},
	queryParameters: {}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Update logMessage" doc:id="e7422111-6d53-4bb3-a161-2aca6419cab1">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="logMessage"><![CDATA[%dw 2.0
output application/json
var bsName = "dvt-sys-bookings"
---
{
	message: "BEFORE_REQUEST: HTTP Request to $(bsName)",
	content: {
		method: vars.request.method,
		endpoint: vars.request.endpoint,
		transportHeaders: vars.request.transportHeaders,
		uriParameters: vars.request.uriParameters,
		queryParameters: vars.request.queryParameters,
		payload: message.payload
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="Logger Before Request" doc:id="7b1cf653-5805-427c-a587-fe8577d3b8f4" config-ref="json-logger-config" message="#[vars.logMessage.message]" tracePoint="BEFORE_REQUEST" priority='#["${json.logger.priority.before-request}"]' category="${json.logger.category.before-request}">
			<json-logger:content><![CDATA[#[import modules::JSONLoggerModule 
output application/json
---
vars.logMessage.content]]]></json-logger:content>
		</json-logger:logger>
		<http:request method="#[vars.request.method]" doc:name="RESTful API" doc:id="5e95ca60-a53f-4082-a5f1-4f6f682233a0" config-ref="http-request-config" url="#[vars.request.endpoint]" sendCorrelationId="ALWAYS" correlationId="#[correlationId]" responseTimeout="#[vars.request.timeout.response]">
			<reconnect frequency="${request.reconnection.frequency}" count="${request.reconnection.attempts}" />
			<http:headers><![CDATA[#[vars.request.transportHeaders]]]></http:headers>
			<http:uri-params><![CDATA[#[vars.request.uriParameters]]]></http:uri-params>
			<http:query-params><![CDATA[#[vars.request.queryParameters]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Update logMessage" doc:id="c78b9d52-c713-445c-9547-8e989015fcd9">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="logMessage"><![CDATA[%dw 2.0
output application/json
var bsName = "dvt-sys-bookings"
---
{
	message: "AFTER_REQUEST: HTTP Response from $(bsName)",
	content: {
		attributes: message.attributes,
		payload: message.payload
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="Logger After Request" doc:id="fb445457-3e63-4da4-8490-0cc13b644ff6" config-ref="json-logger-config" message="#[vars.logMessage.message]" tracePoint="AFTER_REQUEST" priority='#["${json.logger.priority.after-request}"]' category="${json.logger.category.after-request}">
			<json-logger:content><![CDATA[#[import modules::JSONLoggerModule 
output application/json
---
vars.logMessage.content]]]></json-logger:content>
		</json-logger:logger>
	</sub-flow>
	<sub-flow name="increase-availability-sub-flow" doc:id="f1552798-a5e1-4998-a2c9-9438cfac1bbe" >
		<ee:transform doc:name="Build Request" doc:id="62b6b7e3-f906-488b-8cf0-20fe8790fdfc">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	currentAvailableDesks: vars.availability.currentAvailableDesks[0] as Number + 1
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="request"><![CDATA[%dw 2.0
output application/java
var protocol = lower(p('dvt-sys-bookings.protocol'))
var host = p('dvt-sys-bookings.host')
var port = p('dvt-sys-bookings.port')
var path = "availability/{id}"
---
{
	protocol: protocol,
	method: "PATCH",
	endpoint: "$(protocol)://$(host):$(port)/$(path)",
	transportHeaders: {
		client_id: p('secure::dvt-sys-bookings.header.client_id'),
		client_secret: p('secure::dvt-sys-bookings.header.client_secret')
	},
	uriParameters: {
		id: vars.availability.id[0]
	},
	queryParameters: {}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Update logMessage" doc:id="8f45b23e-4a2b-451b-aa06-13fcdd2c6434">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="logMessage"><![CDATA[%dw 2.0
output application/json
var bsName = "dvt-sys-bookings"
---
{
	message: "BEFORE_REQUEST: HTTP Request to $(bsName)",
	content: {
		method: vars.request.method,
		endpoint: vars.request.endpoint,
		transportHeaders: vars.request.transportHeaders,
		uriParameters: vars.request.uriParameters,
		queryParameters: vars.request.queryParameters,
		payload: message.payload
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="Logger Before Request" doc:id="cff39840-6269-4ad9-87cc-01b00550f8f0" config-ref="json-logger-config" message="#[vars.logMessage.message]" tracePoint="BEFORE_REQUEST" priority='#["${json.logger.priority.before-request}"]' category="${json.logger.category.before-request}">
			<json-logger:content><![CDATA[#[import modules::JSONLoggerModule 
output application/json
---
vars.logMessage.content]]]></json-logger:content>
		</json-logger:logger>
		<http:request method="#[vars.request.method]" doc:name="RESTful API" doc:id="685ad9c4-8278-4e0b-8d35-e06401c47c1c" config-ref="http-request-config" url="#[vars.request.endpoint]" sendCorrelationId="ALWAYS" correlationId="#[correlationId]" responseTimeout="#[vars.request.timeout.response]">
			<reconnect frequency="${request.reconnection.frequency}" count="${request.reconnection.attempts}" />
			<http:headers><![CDATA[#[vars.request.transportHeaders]]]></http:headers>
			<http:uri-params><![CDATA[#[vars.request.uriParameters]]]></http:uri-params>
			<http:query-params><![CDATA[#[vars.request.queryParameters]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Update logMessage" doc:id="663e22a0-9295-4021-91ed-cb114ef4bfd8">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="logMessage"><![CDATA[%dw 2.0
output application/json
var bsName = "dvt-sys-bookings"
---
{
	message: "AFTER_REQUEST: HTTP Response from $(bsName)",
	content: {
		attributes: message.attributes,
		payload: message.payload
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="Logger After Request" doc:id="313f5c15-7856-4275-a953-2ce5b20342c6" config-ref="json-logger-config" message="#[vars.logMessage.message]" tracePoint="AFTER_REQUEST" priority='#["${json.logger.priority.after-request}"]' category="${json.logger.category.after-request}">
			<json-logger:content><![CDATA[#[import modules::JSONLoggerModule 
output application/json
---
vars.logMessage.content]]]></json-logger:content>
		</json-logger:logger>
	</sub-flow>
</mule>
