code/dvt-sys-notification/src/main/mule/impl-email.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:twilio="http://www.mulesoft.org/schema/mule/twilio" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/twilio http://www.mulesoft.org/schema/mule/twilio/current/mule-twilio.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
	<flow name="send-email-main-flow" doc:id="fa74e284-4dfd-4b97-82e1-d54a8c99614a" >
		<ee:transform doc:name="Update logMessage" doc:id="9d39d54a-c0d6-4e2c-aa6a-48e789d5497a">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="logMessage"><![CDATA[%dw 2.0
output application/java
---
{
	message: "FLOW: send-email",
	content: {
		to: payload.toAddresses,
		cc: payload.ccAddresses,
		bcc: payload.bccAddresses,
		subject: payload.subject,
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="Logger Flow" doc:id="6e63fae2-e172-4820-a391-e1abd2c19e83" config-ref="json-logger-config" message="#[vars.logMessage.message]" tracePoint="FLOW" priority='#["${json.logger.priority.flow}"]' category="${json.logger.category.flow}">
			<json-logger:content><![CDATA[#[output application/json 
---
vars.logMessage.content]]]></json-logger:content>
		</json-logger:logger>
		<ee:transform doc:name="Build Request" doc:id="537871ef-67a5-4464-938b-cb08d676ec78" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="body" ><![CDATA[%dw 2.0
output application/json
---
payload.body]]></ee:set-variable>
				<ee:set-variable variableName="email" ><![CDATA[%dw 2.0
output application/java
---
{
	fromAddress: "devoteam.notifmock@gmail.com",
	to: payload.toAddresses,
	cc: payload.ccAddresses,
	bcc: payload.bccAddresses,
	subject: payload.subject,
	body: payload.body
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<email:send doc:name="Send Email" doc:id="e746c330-a730-415a-9cdc-68f1e6439448" config-ref="email-smtp-config" fromAddress="#[vars.email.fromAddress]" subject="#[vars.email.subject]" toAddresses="#[vars.email.to]" ccAddresses="#[vars.email.cc]" bccAddresses="#[vars.email.bcc]">
			<email:body contentType="text/html" >
				<email:content ><![CDATA[#[%dw 2.0
import fromBase64 from dw::core::Binaries
output application/octet-stream
---
fromBase64(vars.body)]]]></email:content>
			</email:body>
		</email:send>
		<ee:transform doc:name="Update logMessage" doc:id="a28a574b-dc43-4045-847a-c2537b8a6454" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
{
	message: "FLOW: send-email",
	content: "Email sent."
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="Logger Flow" doc:id="c675af73-8b35-4b3f-82f4-6a282002474e" config-ref="json-logger-config" message="#[vars.logMessage.message]" tracePoint="FLOW" priority='#["${json.logger.priority.flow}"]' category="${json.logger.category.flow}" >
			<json-logger:content ><![CDATA[#[output application/json 
---
vars.logMessage.content]]]></json-logger:content>
		</json-logger:logger>
	
</flow>
</mule>
