code/dvt-sys-office-plan/src/main/mule/impl-office-plan.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
	<flow name="get-office-plan-main-flow" doc:id="8fdf820b-f8b4-4dad-98a3-daaad5687760" >
		<ee:transform doc:name="Update logMessage" doc:id="aa3e66ec-163f-425c-84fe-dbb781185733">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="logMessage"><![CDATA[%dw 2.0
output application/java
---
{
	message: "FLOW: get-office-plan",
	content: "Retrieving office plan from DB."
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="Logger Flow" doc:id="fefee8e1-05ee-4a6f-b1c4-fa9a35a74fa8" config-ref="json-logger-config" message="#[vars.logMessage.message]" tracePoint="FLOW" priority='#["${json.logger.priority.flow}"]' category="${json.logger.category.flow}">
			<json-logger:content><![CDATA[#[vars.logMessage.content]]]></json-logger:content>
		</json-logger:logger>
		<mongo:find-documents collectionName="buildings" fields="," doc:name="Get all office plan documents" doc:id="f272b1e4-c4a9-4d6a-bc3e-327cb5d600d6" config-ref="MongoDB_Config"/>
		<choice doc:name="Choice" doc:id="cffb8590-ed24-46ae-a566-5681e4ea50e3" >
			<when expression="#[sizeOf(payload)&gt;0]">
				<ee:transform doc:name="Transform Message" doc:id="55017ba5-c6e6-4ffe-9f9c-813964152b2c">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<ee:transform doc:name="Update logMessage" doc:id="b68b7aa4-b508-452d-9626-27f7d3a90c49">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="logMessage"><![CDATA[%dw 2.0
output application/java
---
{
	message: "FLOW: get-office-plan",
	content: "Retrieving office plan from DB."
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="c1d9b721-06c7-44dc-a86a-190bbf0964c4">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	errorCode: "NOT_FOUND",
	errorMessage: "Office plan not found."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<ee:transform doc:name="Update logMessage" doc:id="9fb37a74-24f9-4898-986d-af17d7c4e670" >
					<ee:message />
					<ee:variables >
						<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
{
	message: "FLOW: get-office-plan",
	content: "Office plan not found."
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		<json-logger:logger doc:name="Logger Flow" doc:id="ea31c8de-39d0-441f-9f90-57f9f7871c23" config-ref="json-logger-config" message="#[vars.logMessage.message]" tracePoint="FLOW" priority='#["${json.logger.priority.flow}"]' category="${json.logger.category.flow}" >
			<json-logger:content ><![CDATA[#[vars.logMessage.content]]]></json-logger:content>
		</json-logger:logger>
	</flow>
</mule>
