code/dvt-sys-bookings/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
    <apikit:config name="dvt-sys-bookings-config" api="resource::813cde1d-689b-4689-91c2-c9f408772769:dvt-sys-bookings:1.0.13:raml:zip:dvt-sys-bookings.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="dvt-sys-bookings-main">
        <http:listener config-ref="http-listener-config" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <json-logger:logger doc:name="Logger Debug" doc:id="f6525f21-53fe-4761-b183-fcfa56d25559" config-ref="json-logger-config" message="DEBUG: Inbound HTTP Request" priority="DEBUG" category="${json.logger.category.debug}">
            <json-logger:content><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    attributes: JSONLoggerModule::stringifyNonJSON(attributes),
    payload: JSONLoggerModule::stringifyNonJSON(payload) 
}]]]></json-logger:content>
        </json-logger:logger>
        <ee:transform doc:name="Prepare logMessage" doc:id="5811720c-04c6-49c9-9dd3-8183c0311578">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="logMessage"><![CDATA[%dw 2.0
output application/json
---
{
	message: "START: Inbound HTTP Request",
	content: {
		remoteAddress: message.attributes.remoteAddress,
		method: message.attributes.method,
		requestPath: message.attributes.requestPath,
		headers: {
			client_id: message.attributes.headers.client_id,
			client_secret: message.attributes.headers.client_secret
		},
		queryParams: message.attributes.queryParams
	}
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <json-logger:logger doc:name="Logger Start" doc:id="fd03a855-6e75-4fc2-9e9e-ece2b860e310" config-ref="json-logger-config" message="#[vars.logMessage.message]" priority="#[&quot;${json.logger.priority.start}&quot;]" category="${json.logger.category.start}">
            <json-logger:content><![CDATA[#[output application/json 
---
vars.logMessage.content]]]></json-logger:content>
        </json-logger:logger>
        <apikit:router config-ref="dvt-sys-bookings-config" />
        <ee:transform doc:name="Update logMessage" doc:id="307554c9-44b5-4354-902c-251f8e0fac87">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="logMessage"><![CDATA[%dw 2.0
output application/json
---
{
	message: "END: Outbound HTTP Response",
	content: {
		httpStatus: vars.httpStatus
	}
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <json-logger:logger doc:name="Logger End" doc:id="b96a59e3-e232-4962-803e-453e1969c8bb" config-ref="json-logger-config" message="#[vars.logMessage.message]" tracePoint="END" priority="#[&quot;${json.logger.priority.end}&quot;]" category="${json.logger.category.end}">
            <json-logger:content><![CDATA[#[output application/json 
---
vars.logMessage.content]]]></json-logger:content>
        </json-logger:logger>
        <json-logger:logger doc:name="Logger Debug" doc:id="22c7f9ea-2c92-4022-8a25-32c39341d9fa" config-ref="json-logger-config" message="DEBUG: Inbound HTTP Request" tracePoint="END" priority="DEBUG" category="${json.logger.category.debug}" />
    </flow>
    <flow name="dvt-sys-bookings-console">
        <http:listener config-ref="http-listener-config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="${apikit.console.disabled}" doc:name="apikitConsoleDisabled" doc:id="bf2df687-9a29-4fdb-924e-5e515bbdbab2" variableName="apikitConsoleDisabled" />
        <choice doc:name="apikitConsoleDisabled" doc:id="1968a00f-8f54-442d-8001-75c89657eb6a">
            <when expression="#[vars.apikitConsoleDisabled == &quot;false&quot;]">
                <apikit:console config-ref="dvt-sys-bookings-config" />
            </when>
            <otherwise>
                <raise-error doc:name="Raise error" doc:id="211fccaa-d5e8-4290-990e-256aa21e5175" type="CONSOLE:NOT_FOUND" description="Console is not available." />
            </otherwise>
        </choice>
    </flow>
    <flow name="patch:\intentions\(id):application\json:dvt-sys-bookings-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="intentionId"><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.'id']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Flow Ref: update-intentions-by-id-main-flow" doc:id="7469ad52-c887-4225-8f08-0f4e0285fe7c" name="update-intentions-by-id-main-flow" />
    </flow>
    <flow name="get:\intentions:dvt-sys-bookings-config">
        <ee:transform doc:name="Transform Message" doc:id="1918a935-82bf-49fa-97dc-b22722eccffc">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="date"><![CDATA[%dw 2.0
output application/java
---
message.attributes.queryParams.date]]></ee:set-variable>
                <ee:set-variable variableName="employeeId"><![CDATA[%dw 2.0
output application/java
---
message.attributes.queryParams.employeeId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Flow Ref: get-intentions-main-flow" doc:id="b04898e8-2dc8-493d-bd36-419dac812908" name="get-intentions-main-flow" />
    </flow>
    <flow name="post:\bookings:application\json:dvt-sys-bookings-config">
        <flow-ref doc:name="Flow Ref: postBookingFlow" doc:id="85ce217d-da44-4af6-9641-c0785e6c3c59" name="postBookingFlow" />
    </flow>
    <flow name="post:\intentions:application\json:dvt-sys-bookings-config">
        <flow-ref doc:name="Flow Ref: update-intentions-main-flow" doc:id="354f13bc-33ef-45fd-a63c-7683aeb61408" name="update-intentions-main-flow" />
    </flow>
    <flow name="patch:\availability\(id):application\json:dvt-sys-bookings-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="availabilityId"><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.'id']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Flow Ref: update-availability-by-id-main-flow" doc:id="2e09e4c3-dd52-465d-a44f-e7c795bb7937" name="update-availability-by-id-main-flow" />
    </flow>
    <flow name="get:\availability:dvt-sys-bookings-config">
        <ee:transform doc:name="Transform Message" doc:id="1cb17cc1-4235-4882-9b07-98564f43e1fb">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="date"><![CDATA[%dw 2.0
output application/java
---
message.attributes.queryParams.date]]></ee:set-variable>
                <ee:set-variable variableName="locationId"><![CDATA[%dw 2.0
output application/java
---
message.attributes.queryParams.locationId]]></ee:set-variable>
                <ee:set-variable variableName="roomId"><![CDATA[%dw 2.0
output application/java
---
message.attributes.queryParams.roomId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Flow Ref: get-availability-main-flow" doc:id="add5436c-7b59-4974-9c31-e47217d9d2af" name="get-availability-main-flow" />
    </flow>
    <flow name="post:\availability:application\json:dvt-sys-bookings-config">
        <flow-ref doc:name="Flow Ref: update-availability-main-flow" doc:id="5bbfa28c-368e-4965-908e-d341510cfa82" name="update-availability-main-flow" />
    </flow>
    <flow name="get:\bookings:dvt-sys-bookings-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="employeeId" ><![CDATA[%dw 2.0
output application/java
---
message.attributes.queryParams.employeeId default null]]></ee:set-variable>
				<ee:set-variable variableName="date" ><![CDATA[%dw 2.0
output application/java
---
message.attributes.queryParams.date default null]]></ee:set-variable>
			</ee:variables>
        </ee:transform>
		<flow-ref doc:name="Flow Ref: get-bookings-main-flow" doc:id="6d4d2366-2de7-4394-912f-065ea6c54cfe" name="get-bookings-main-flow"/>
    </flow>
</mule>
